<section class="orders light-section">
    <div class="container mx-auto pt-12 h-screen orders">

        <h1 class="font-bold text-lg mb-4">All orders</h1>

        <table class="w-full table-auto bg-white border-collapse border">
            <thead>
                <tr>
                    <th class="border border-slate-400 px-4 py-2 text-left">Orders</th>
                    <th class="border border-slate-400 px-4 py-2 text-left">Customer Name</th>
                    <th class="border border-slate-400 px-4 py-2 text-left">Address</th>
                    <th class="border border-slate-400 px-4 py-2 text-center">Status</th>
                    <th class="border border-slate-400 px-4 py-2 text-center">Placed Date</th>
                    <th class="border border-slate-400 px-4 py-2 text-center">Placed Time</th>
                    <th class="border border-slate-400 px-4 py-2 text-center">Payment Status</th>
                </tr>
            </thead>
            <tbody id="orderTableBody">
                
            </tbody>
        </table>
    </div>
</section>